:root{
    --left-side: 30%;
    --right-side: 70%;
    font-family: 'Work Sans', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: auto;
    text-rendering: optimizeLegibility;
    font-size: 18px;
}

grid, left, right {
    display: grid;
    height: 100vh;
}

grid {
    grid-template-columns: var(--left-side) 70%;
    position: relative;
}

left {
    background-image: url("bgleft.jpg");
    background-size: cover;
    grid-template-rows: 5% 25% 1fr;
}

right {
    grid-template-rows: 30% 50% 1fr;
}

imagefooter {
    width: var(--left-side);
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: .5rem;
}

a:link, a:visited {
    color: white;
}

imagefooter>p {
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

logo {
    display: flex;
    background-color: rgba(0,0,0,0.25);
    justify-content: center;
    backdrop-filter: blur(2px);
    flex-wrap: nowrap;
    align-items: center;
}

logo>img {
    max-width: 100%;
    max-height: 90%;
}

outromsg, intromsg {
    background-color: whitesmoke;
}
intromsg {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5vw;
    font-size: max(1rem, 16px);
}
intromsg>p {
    width: 50vw;
}

intromsg, outromsg {
    padding-left: 5vw;
    padding-right: 5vw;
}

formdiv{
    padding-left: 5vw;
}

label {
    display: block;
    font-variant: all-caps;
    color: rgb(75, 75, 75);
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: .1rem;
    padding-bottom: 5px;
}

gridme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 3vh;
    padding-right: 5vw;
}

outromsg {
    box-shadow: 0px 0px 5px black;
    padding-top: 3vh;
}

input {
    border-radius: 5px;
    border-width: 0px;
    font-size: 14px;
    border-width: 1px;
    padding: 8px;
    border-color: darkgray;
}

input:invalid {
    border-color: red;
}

input:hover {
    box-shadow: 0px 0px 1px blue;
    border-color: blue;
}

input:focus {
    outline: none;
}

button {
    background-color: darkolivegreen;
    padding: 10px;
    border-radius: 15px;
    border-width: 0px;
    color: white;
}

outromsg>a:link, outromsg>a:visited {
    color: darkolivegreen;
}

formdiv>p {
    font-size: 1.25rem;
}